<h1><%= full_name(@patient) %></h1>

<h2>Prescriptions</h2>
<a class="new-prescription-link" href="<%= new_patient_prescription_path(@patient.id) %>">Add Prescription</a>
<h2>Medications</h2>
<table class="table">
  <thead>
  <tr>
    <th>Medication</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
  <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= @medications.find_by(id: prescription.medication_id).name %></td>
        <td><%= prescription.dosage %>/<%= prescription.schedule %></td>
        <td><%= prescription.start_on %></td>
      </tr>
  <% end %>
  </tbody>
</table>